.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  
  .footer a {
    color: #0073e6;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 8px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer-logo img {
    width: 100px;  /* Adjust this according to the size of the Sterling Mutuals logo */
    margin-top: 10px;
  }